{% extends 'bootstrap.html' %}
{% load bootstrap3 %}
{% load mptt_tags %}

{% block bootstrap3_content %}


<ul class="parent">
  {% recursetree categories %}
    <li>
      <a href="/category/{{ node.id }}">{{ node.name }}</a>
      {% if not node.is_leaf_node %}
        <ul class="children">
          {{ children }}
        </ul>
      {% endif %}
    </li>
  {% endrecursetree %}
</ul>

<form action="/" method="post" class="form add-category" method="POST">
{% csrf_token %}
  <div class="form-group">
    <h4>Add Category</h4>
  </div>
<!--   <div class="form-group">
    {% bootstrap_label "Select Parent:" label_for="id_parent" %}
    <select name="select-parent" id="id_parent" class="form-control">
      <option value="0" selected></option>
      {% for parent in categories %}
      <option value="{{ parent.id }}">{{ parent.name }}</option>
      {% endfor %}
    </select>
  </div> -->
  {% bootstrap_form form %}

  {% if already_exists %}
    <p class="form-group error">Category {{ request.POST.name }} already exists</p>
  {% endif %}

  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Add
    </button>
  {% endbuttons %}
</form>

 
{% endblock %}