{% extends 'base.html' %}
{% load bootstrap3 %}
{% load mptt_tags %}

{% block content %}

<ul>
  {% recursetree nodes %}
    <li>
      {{ node.name }}
      {% if not node.is_leaf_node %}
        <ul class="children">
          {{ children }}
        </ul>
      {% endif %}
    </li>
  {% endrecursetree %}
</ul>

<form action="/" method="post" class="form">
{% csrf_token %}
{% bootstrap_form form %}
  <select name="select-parent">
    <option value="0" selected></option>
    {% for parent in categories %}
    <option value="{{ parent.id }}">{{ parent.name }}</option>
    {% endfor %}
  <select>

{% buttons %}
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Submit
  </button>
{% endbuttons %}
</form>

 

{% endblock %}