{% extends 'bootstrap.html' %}
{% load bootstrap3 %}
{% load django_bootstrap_breadcrumbs %}
{% load mptt_tags %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% for step in category_path %}
    {% breadcrumb step.name "category" step.id %}
  {% endfor %}
{% endblock %}

{% block bootstrap3_content %}

{% render_breadcrumbs %}

<form action="/" method="post" class="form add-category" method="POST">
{% csrf_token %}
  <div class="form-group">
    <h4>{{ category }}</h4>
  </div>

  {% bootstrap_form form %}

  {% buttons %}
    <button type="submit" name="_delete" class="btn btn-danger">
      Delete
    </button>
    <button type="submit" name="_save" class="btn btn-primary to-right">
      Save
    </button>
  {% endbuttons %}
</form>

{% endblock %}