ul {
	list-style-type: none;
}

.parent {
	padding: 0;
}

.form {
	max-width: 320px;
	margin-bottom: 10px;
}

.form-group {
	margin: 15px;
}

.add-category {
	border: 1px solid #2e6da4;
	border-radius: 15px;
}

h4 {
	text-align: center;
}

.error {
	margin-top: 5px; 
	color: red;
}

.top {
	margin-top: 10px;
}

.to-right {
	float: right;
}

.category_id {
	display: none;
}

.breadcrumb > li:before {
	display: none;
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}